body {
	background-color: #f2f3f5;
}

header {
	padding: 15px 15px;
	margin: 15px; 
	text-align: center;
	color: white;
	background-color: #ba3511;
}

nav {
	padding: 10px 10px;
	margin: 15px 15px;
	
}

nav a {
	text-decoration: none;
}