body {
	background-color: #d7dadb;
}

header {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px; 
	text-align: center;
	background-color: #c72020;
	font-family: 'Bebas Neue', cursive;
}

h1 {
	color: white;
	font-size: 65px;
}

h2{
	color:#4D1518;
	font-size: 50px;
}

a {
	color:#518cca;
}

h3{
	background-color:#951E22;
	color:white; 
	padding-left:10px;
	text-align: center;
}

.posters:hover{
	opacity:0.5;
}

.title {
	font-size: 100px;
}

p {
	font-family: 'Poppins', sans-serif;
}

nav {
	padding: 10px 10px;
	margin-top: 20px;
	margin-bottom: 50px;
}

nav a {
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1pt;
}

footer {
	margin-top: 50px;
}

footer p {
	padding: 10px;
}

footer a {
	text-decoration: none;

}

section {
	margin-top: 25px;
	margin-bottom: 25px;
}

